<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Gun Violence Visualization Dashboard</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen"> 
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" media="screen"> -->
    
    <!-- Our own CSS stylesheet -->
   
    <link rel="stylesheet" href="static/css/styles.css" media="screen"> 
    <link type="text/css" rel="stylesheet" href="static/css/stylez.css" media="screen">
  </head>

  <body>
      {% extends "layout.html" %}
      {% block content %}

<div class="container">
  <section class="row">
    <div class="col-md-10">
      <article class="description-content">
        <h1 class="description-header" style="font-size:45px">PLace holder:Gun Violence in The United States of America</h1>
        <hr class="description-hr"/>
        <div id="outerbox">
          <div id="sliderbox">
            <img src="static/assets/images/five_year.png" height="500px" width="900">
            <img src="static/assets/images/death_2019.png" height="500px" width="900">
            <img src="static/assets/images/injured_2019.png" height="500px" width="900">
            <img src="static/assets/images/officer_shot.png" height="500px" width="900">
          </div>
        </div>
        <p>gwegweg</p>
        
      </article>
      </div>  

    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        There is HOPE with GUN CONTROL
      </p>
    </footer>
    <!-- End of footer -->

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>

</html>
