<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Gun Violence Visualization Dashboard</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" media="screen"> 
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" media="screen"> -->
    
    <!-- Our own CSS stylesheet -->
   
    <link rel="stylesheet" href="../static/css/styles.css" media="screen"> 
    <link rel="stylesheet" href="../static/css/style.css" media="screen">
    <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
   
  <!-- Marker Cluster JS & CSS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

  </head>

  <body>

    {% extends "layout.html" %}
    {% block content %}
    <!-- <div class="container">
      <div class="row" > 
        <img src="static/assets/images/gun2.jpg" height="500px"/>
      </div>
    </div> -->
   <br><br>
   <div class="container">
    <section class="row">
      <div class="col-md-10">
        <!-- <article class="description-content"> -->
          <h1 class="description-header">Gun Violence In the United States of America</h1>
          <hr class="description-hr"/>
          <img src="static/assets/images/gun2.jpg" height="500px" />
          <p style="color:turquoise;font-size:30px">DataVisualizations-Project</p>
          <p style="font-size:20px">Inspiration</p>
          <p>There has been steady increase in  Gun Violence over the past decade and it continues to rapidly increase . Data scientists and statisticians can help analyze this dire situation by studying gun violence data and make informed predictions about future trends in order to build strategies that will eventually minimize , control gun violence and promote gun safety.</p>
          <p style="font-size:20px">Goal</p>
          <p>To create a  web visualization dashboard :
            1)	that has a landing page with  USA map visualization of the gun violence incidents
            2)	 links to one or more visualization pages that will represent relationships between different variables in the form of pie charts, bar charts or scatter plots .</p>
          <p style="font-size:20px">Data Source</p>
          <p>Kaggle.com is the Data source for this project. We chose a dataset named  “Gun Violence Data” (https://www.kaggle.com/jameslko/gun-violence-data). This dataset contains more than 260k gun violence incidents, in the US between January 2013 and March 2018 , with detailed information about each incident, in CSV format.

            Dataset owner James Kho built this dataset from gunviolencearchive.org. Since there is not much of easily – accessible data with detailed information on this subject , we are very grateful to James Kho for his endeavor . His work has helped us gain valuable data to study this matter and draw meaningful conclusions.</p>
          <p style="font-size:20px">Extraction</p>
          <p>Data was extracted from  a CSV file.</p>
          <p style="font-size:20px">Transformation</p>
          <p>1)	CSV file will be read into data frame and transformed .
            2)	 Data in some columns have to be parsed , counted and stored in additional columns.
            3)	Irrelevant columns  have to be dropped.  Renaming and rearrangement of columns have to be done along with changing of data types to maintain uniformity and to present meaningful data.
              Loading
            Data frame  will be loaded into the relational database – Postgres.</p>
          <p style="font-size:20px">Flask Application</p>
          <p>Flask application will be utilized and data from the Postgres database will derived to create endpoints that will contain json objects of necessary data from which maps and charts can be built.
            Flask will also render the HTML template created to display all the features on the client web browser.</p>
          <p style="font-size:20px">JavaScript file</p>
          <p>D3.js , Plotly and Leaflet libraries will provide the basic framework for building the USA gun violence information map and the different types of charts . 
            Research will be done to add a plugin or a new JS library to enhance the features of the display elements.</p>
          <p style="font-size:20px">User-driven interaction</p>
          <p>1)	The web page / dashboard will be designed to contain a navigation bar with dropdown menu for the user to choose different views.
            2)	The USA gun information map will contain different layer groups allowing the user to choose different visualizations</p>

        </div>  

    <!-- The div where we will inject our map -->
    <!-- Start of container -->
    <div class="container">
      <section class="row">
        <div class="col-md-12">
            <h1 class="description-header"> Gun Violence in USA : Year 2018</h1>
            <hr class="description-hr"/>
           
        </div>


        <div class="row">
          <div id="map"></div>
         </div> 
         <div class="row">
          <h3 class="header2">(Marker Cluster Map)</h3>
        </div>
    </div>
    <!-- End of container -->


  <!-- java script files -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <script type="text/javascript" src="../static/js/markercluster_logic.js"></script>
  


    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        There is HOPE with GUN CONTROL
      </p>
    </footer>
    <!-- End of footer -->

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    {% endblock %}
  </body>

</html>
